<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" style="border-right:1px solid black; margin-top:100px;">
      <div style="width:50%;margin:auto;">
        <label>Login {{title}}</label>
        <form>
          <input type="text" class="form-control" placeholder="Email"/><br>
          <input type="password" class="form-control" placeholder="Password"/>
          <a href="#">Forgot Password??</a><br><br>
          <input type="submit" class="btn btn-primary" />
        </form>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top:100px;">
      <div style="width:50%;margin:auto;">
        <label>SignUp</label>
        <form>
          <input type="text" class="form-control" placeholder="Enter Email"/><br>
          <input type="text" class="form-control" placeholder="Name"/><br>
          <input type="text" class="form-control" placeholder="Address"/><br>
          <input type="text" class="form-control" placeholder="Phone"/><br>
          <input type="password" class="form-control" placeholder="Password"/><br>
          <input type="password" class="form-control" placeholder="Confirm Password"/><br>
          <input type="submit" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>