<button (click)="expandCreateRegistry()">Create Registry</button>
<div *ngIf = "createRegistryExpand">
    <label> Create Registry: </label>
    <input type="text" [(ngModel)]="registry.name" placeholder="Registry Name"/>
    <br>
    <label> Registry type: </label>
    <input type="radio" [(ngModel)]="registry.public" name="sharingType" [value]=true> Public
    <input type="radio" [(ngModel)]="registry.public" name="sharingType" [value]=false> Private
    <br>    

    {{registry.public}}
    <br>
</div>
