<button (click)="expandCreateRegistry()">Create Registry</button>
<div *ngIf = "createRegistryExpand">
    <label> Create Registry: </label>
    <input type="text" placeholder="Registry Name"/>
    <br>
    <label> Registry type: </label>
    <input type="radio"> Public
    <input type="radio"> Private
    <br>    

    <br>
</div>


<div>
        <form ng-submit="submit()" ng-controller="AppCtrl" ng-cloak>
          <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span> </p>
      
          <md-radio-group ng-model="data.group1">
      
            <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
            <md-radio-button value="Banana"> Banana </md-radio-button>
            <md-radio-button value="Mango">Mango</md-radio-button>
      
          </md-radio-group>
      
          <hr />
          </form>
        </div>      